:root {
  --color-dark: #0b0d17;
  --color-light: #ffffff;
  --color-accent: #d0d6f9;

  --heading-xl: 9.375rem;
  --heading-l: 6.25rem;
  --heading-m: 3.5rem;
  --heading-s: 2rem;
  --heading-xs: 1.75rem;
  --heading-xs-spacing: 4.75px;

  --subheading-l: 1.75rem;
  --subheading-r: 0.875rem;
  --subheading-spacing: 2.35;

  --nav-r: 1rem;
  --nav-spacing: 2.7;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*GLOBAL STYLING*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background-image: url("/starter-code/assets/destination/background-destination-desktop.jpg");
  /* background-repeat: no-repeat; */
  background-size: auto;
  background-position: center;
  height: 100vh;
  width: calc(100% - 48px);
  margin: 1.5rem;
  color: var(--color-light);
  font-family: "Bellefair", serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (max-width: 64em) {
  body {
    background-image: url("/starter-code/assets/destination/background-destination-tablet.jpg");
    background-size: 100% 100%;

}

@media (max-width: 23em) {
  body {
    background-image: url("/starter-code/assets/destination/background-destination-mobile.jpg");
    background-color: navy;
  }
}

/* NAV STYLING */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__logo {
  width: 40px;
  max-height: 40px;
}

.nav__links {
  background: hsl(0 0 100% / 0.1);
  backdrop-filter: blur(2rem);
  list-style: none;
  display: flex;
  padding-block: 1.5rem;
  padding-inline: clamp(3rem, 10vw, 10rem);
  top: 0;
  margin-right: -24px;
  line-height: 30px;
}

.nav__link {
  font-family: --;
  text-decoration: none;
  color: var(--color-light);

  letter-spacing: var(--nav-spacing);
  text-transform: uppercase;
  font-size: var(--nav-l);
  font-family: "Barlow Condensed", sans-serif;
  margin-inline-end: 0.75em;
}

/* Underline animation */

.nav__links {
  position: relative;
  color: white;
  text-decoration: none;
}

.nav__links:hover {
  color: white;
}

.nav__links::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav__links:hover::before {
  transform: scaleX(1);
}

.nav__link:hover {
  filter: brightness(70%);
}

/* .nav__burger {
	position: absolute;
	height: 21px;
	width: 24px;
	right: 0;
	top: 9px;
	z-index: 9999;
} */

.nav__link span {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.mobile__nav__toggle {
  display: none;
}

@media (max-width: 35em) {
  .nav__links {
    position: fixed;
    inset: 0 0 0 30%;
    background: hsl(0 0 100% / 0.1);
    backdrop-filter: blur(2rem);
    flex-direction: column;
    padding: min(20vh, 10rem) 2em;
    gap: 2em;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .nav__links[data-visible="true"] {
    transform: translateX(0%);
  }
  .mobile__nav__toggle {
    display: block;
    position: absolute;
    border: 0;
    height: 21px;
    width: 24px;
    right: 0;
    top: 9px;
    z-index: 9999;
    background-image: url("/starter-code/assets/shared/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-color: transparent;
  }

  .mobile__nav__toggle[aria-expanded="true"] {
    background-image: url("/starter-code/assets/shared/icon-close.svg");
  }
}

/* For Tablet
@media (min-width: 35em) {
	.nav__link {
		padding-right: 1rem;
	}
} */

/* For Desktop */
@media (min-width: 64em) {
  .nav__link {
    padding-right: 2rem;
  }
}

/* HOME STYLES */

.home__wrapper {
  padding-top: 1rem;
  text-align: center;
  cursor: default;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home__title {
  text-transform: uppercase;
  font-size: var(--heading-m);
  font-weight: 400;
  cursor: default;
}

.home__eyebrow {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2.75px;
  color: var(--color-light);
}

.home__eyebrow__num {
  color: --color-light;
  padding-right: 1rem;
  font-weight: bold;
  filter: brightness(25%);
}

.home__text {
  font-size: 0.95rem;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--color-accent);
  padding-bottom: 2rem;
  border-bottom: 1px solid #383b4b;
  margin-inline: 10px;
}

.home__link {
  text-decoration: none;
  color: var(--color-accent);
  letter-spacing: var(--nav-spacing);
  text-transform: uppercase;
  font-size: var(--subheading-r);
  font-family: "Barlow Condensed", sans-serif;
}

.home__links {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  column-gap: 1.75rem;
}

/* .home__links:hover {
	color: #ffffff;
}

.home__links:visited {
	text-decoration: none;
} */

.home__photo {
  width: 170px;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.home__info_headers {
  font-size: 0.9rem;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--color-accent);
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.home__info_text {
  font-size: 28px;
  font-family: "Bellefair", serif;
  font-weight: 400;
  padding-top: 5px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.home__info:last-child {
  padding-bottom: 4rem;
}

/* For  Tablet */
@media (min-width: 35em) {
  body {
    margin-left: 2.5rem;
  }
  .home__wrapper {
    text-align: center;
    margin: auto;
  }
  .home__eyebrow {
    align-self: flex-start;
    font-size: 1.5rem;
  }

  .home__photo {
    width: 300px;
    height: auto;
    padding-block: 3.5rem;
  }

  .home__links {
    gap: 2.1rem;
  }

  .home__link {
    font-size: 1rem;
  }

  .home__title {
    font-size: 5rem;
  }

  .home__text {
    font-size: 1.25rem;
    width: 72%;
    padding-bottom: 50px;
  }

  .home__info {
    display: flex;
    gap: 5rem;
  }
}

/* For Desktop */
@media (min-width: 64em) {
  body {
    margin-left: 2.5rem;
  }
  .home__wrapper {
    text-align: left;
  }

  .home__text {
    font-size: 1.5rem;
  }

  .home__eyebrow {
    font-size: 1.75rem;
    letter-spacing: var(--heading-xs-spacing);
  }

  main {
    display: flex;
    align-items: flex-end;
    padding-top: 175px;
  }
}
